/* A-C */
* {
	padding: 0px;
	margin: 0px;
}

#header img {
	height: 100px;
	width: 100px;
}

#header p {
	color: white;
	
}

#header {
	background-color: #4e0013;
}

.line1
{ 
	margin: 0px 0;
	border-top: 5px solid black;
}	