/* A-C */

#header img {
	height: 100px;
}

#header p {
	color: white;
	
}

#header {
	background-color: #4e0013;
}

.line1{
	margin: 0px;
	border-top: 5px solid black;
}

#slideshow {
	background-color: black;
}

#captions {
	color: black;
	text-decoration: underline;
	text-decoration-thickness: 2.9px;
	text-decoration-color: #4e0013;
}

#captions h4 {
	font-size: 50px;
}

#info {
	color: white;

}

.information {
	padding-bottom: ;
}
#pics {
	margin: 10px;
	border-radius: 11px;
	margin-right: 10px;
}