/* A-C */

#header img {
	height: 100px;
}

#header {
	background-color: #4e0013;
}
.line1{
	background-color: black;
}

#slideshow {
	background-color: black;
}

#captions {
	color: black;
}

#captions h4 {
	font-size: 50px;
}

#info {
	color: white;

}

#pics {
	margin: 10px;
	border-radius: 11px;
	margin-right: 10px;
	
}
